<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Book Mera Show</title>
</head>
<body>
     <div class="header">
          <h5>Book Mera Show</h5>
          <input type="text" placeholder="Search..">
          <button type="button">Login/Register</button>
     </div>
     <div class="moving_section">
          <h3>Moving Section</h3>
     </div>
     <div class="movies_section">
          <h3>Movies Section</h3>
     </div>
</body>
</html>